.thumbnail-pic {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.image-area {
  margin-top: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.carousel.carousel-slider {
  height: 200px;
  box-shadow: 1px 4px 20px black;
}

.carousel .thumb {
  box-shadow: 1px 4px 20px black;
}

.carousel .slide img {
  height: 200px;
}

.project-info {
  text-align: start;
  margin: 16px 0;
  padding: 0px 0px 0px 15px;
  font-size: 15px;
  line-height: 19px;
  color: black;
}

a {
  color: maroon;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .image-area {
    width: 600px;
  }

  .carousel.carousel-slider {
    height: 450px;
  }

  .carousel .slide img {
    height: 450px;
  }

  .project-info {
    line-height: 25px;
    padding: 0 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .image-area {
    width: 750px;
  }

  .carousel.carousel-slider {
    height: 500px;
  }

  .carousel .slide img {
    height: 500px;
  }

  .project-info {
    font-size: 17px;
    line-height: 28px;
  }
}
