.thumbnail-pic {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.image-area {
  margin-top: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.carousel.carousel-slider {
  height: 200px;
  border: 1px ridge lightblue;
}

.carousel .slide img {
  height: 200px;
}

.project-info {
  text-align: start;
  margin: 16px 0;
  padding: 0px 0px 0px 15px;
  font-size: 15px;
  line-height: 19px;
}

a {
  color: lightblue;
  text-decoration: none;
}
