#projects-section {
  margin-top: 200px;
}

.projects-title {
  font-size: 66px;
  margin-bottom: 100px;
  border-top: none;
  color: black;
}

@media screen and (min-width: 768px) {
  #projects-section {
    margin-top: 240px;
  }
}

@media screen and (min-width: 1024px) {
  #projects-section {
    margin-top: 400px;
  }
  .projects-title {
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 2560px) {
  .projects-title {
    font-size: 140px;
  }
}
