.icon-images {
  height: 100px;
  width: 100px;
}

#skill-name {
  margin-top: 0;
}

.skill-section {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .icon-images {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .icon-images {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 2560px) {
  .icon-images {
    height: 170px;
    width: 170px;
  }
}